 a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

img {
    width: 8em;
    height: 8em;
    margin-left: 20em;
    margin-right: -500px;
    padding: 3em 0;

}

span{
    margin-left: 600px;
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
}
