a {
    display: inline-block;
    align-items: center;
    padding: 0;
}

img {
    width: 8em;
    height: 8em;
    margin-left: 20em;
    margin-right: -500px;
    margin-top: 10em;

}

span{
    margin-left: 600px;
    margin-top: 15em;
}
